@model IEnumerable<DormDomain.Model.Department>

@{
    ViewData["Title"] = "Кафедри за факультетом ";
}

<h1>Кафедри за факультетом @ViewBag.FacultyName</h1>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати нову кафедру", "Create", new { facultyId = ViewBag.FacultyId })
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
              <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("admin"))
                    {
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
