@model DormDomain.Model.Payment

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити оплату?</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentsStatus.StatusName)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
