@model IEnumerable<DormDomain.Model.Room>

@{
    ViewData["Title"] = "Кімнати за тарифами ";
}

<h1>Кімнати за тарифами @ViewBag.TariffName </h1>
@if (User.IsInRole("admin"))
{
    <p>

        @Html.ActionLink("Додати нову кімнату", "Create", new { tariffId = ViewBag.TariffId })

    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("admin"))
                    {
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
