@model IEnumerable<DormDomain.Model.Faculty>

@{
    ViewData["Title"] = "Index";
}

<h1>Список факультетів університету</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Додати новий факультет</a>
    </p>
    <p>

        <a class="btn btn-primary mb-3" type="=submit" asp-area="" asp-controller="Faculties" asp-action="Import">Завантажити з файлу</a>
        <a class="btn btn-primary mb-3" type="=submit" asp-area="" asp-controller="Faculties" asp-action="Export">Експортувати у файл</a>

    </p>
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("admin"))
                    {
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <div class="col-12">
        <div id="countByFacultyChart"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            fetch('/api/charts/countByFaculty')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Факультет');
                    dataTable.addColumn('number', 'Кількість студентів');

                    data.forEach(item => {
                        dataTable.addRow([item.faculty, item.count]);
                 });

                    const options = {
                        title: 'Кількість студентів на факультетах',
                        width: 600,
                        height: 400,
                        legend: { position: 'none' },
                    };

                    const chart = new google.visualization.ColumnChart(document.getElementById('countByFacultyChart'));

                    chart.draw(dataTable, options);
                });
        }
    </script>
}
